.el-col{
    margin-bottom:20px;
    cursor: pointer;
    .el-card{
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
        &:hover{
            box-shadow: 0px 2px 2px 0px rgba(66,180,130,0.9)
        }
        .btn-add{
            border:1px dashed #d9d9d9;
            margin-bottom:10px;
            height:117px;
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color:#999;
            i{
                font-size:40px;
                display:block;
                margin-bottom:5px;
            }
        }
        .el-card__header{
            .tit{height:20px;}
            span{color:#42b983;}
            .fr{
                margin:0 5px;
                color:#999;
                &:hover{
                    color:#42b983;
                }
            }
        }
        .el-card__body{
            .info{
                height:60px;
                line-height:1.7em;
                overflow:hidden;
            }
            .ulog{
                height:16px;
            }
        }
    }
}
.no-data{
    width:300px;
    margin:0 auto;
    text-align: center;
    p{
        color:#999;
    }
}